<?xml version="1.0" encoding="UTF-8"?>
<!-- monitorInterval="30" 指log4j2每隔1800秒（半小时），自动监控该配置文件是否有变化，如果变化，则自动根据文件内容重新配置 -->
<Configuration status="trace" monitorInterval="30">
    <!-- Dev -->
    <Properties>
        <Property name="DETAIL_LOG_NAME">info</Property>
        <Property name="ERROR_LOG_NAME">error</Property>
        <Property name="LOG_HOME">target/logs</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36}#%M [line:%L] - %msg%xEx%n"/>
        </Console>

        <RollingFile name="detailLog" filename="${LOG_HOME}/${DETAIL_LOG_NAME}.log"
                     filepattern="${LOG_HOME}/${DETAIL_LOG_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36}#%M [line:%L] - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>

        <RollingFile name="errorLog" fileName="${LOG_HOME}/${ERROR_LOG_NAME}.log"
                     filePattern="${LOG_HOME}/${ERROR_LOG_NAME}.%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36}#%M [line:%L] - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>


        <RollingFile name="rabbitMqRpcServer" fileName="${LOG_HOME}/rpc_server_info.log"
                     filePattern="${LOG_HOME}/rpc_server_info-%d{yyyy-MM-dd}-%i.log" append="true">
            <PatternLayout pattern="%n%-4r[%d{yyyy/MM/dd HH:mm:ss}] %5p [%t] %c(%F:%L) - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200MB" />
            </Policies>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <DefaultRolloverStrategy max="20" />
        </RollingFile>


    </Appenders>

    <Loggers>
        <!-- root标签为log的默认输出形式 -->
        <root level="info">
            <!--部署到服务器上时要注释掉 -->
            <AppenderRef ref="console" />
            <AppenderRef ref="detailLog" />
            <AppenderRef ref="errorLog" />
        </root>

        <logger name="rabbitmq.rpc.server" level="info" additivity="false">
            <AppenderRef ref="rabbitMqRpcServer" />
        </logger>


    </Loggers>
</Configuration>