<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">

    <!-- 定义连接工厂,用于创建连接等 -->
    <rabbit:connection-factory id="connectionFactory"
                               username="${rabbit.username}"
                               password="${rabbit.password}"
                               host="${rabbit.hosts}"
                               port="${rabbit.port}"/>
    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- queue 队列声明
         durable：true、false true：在服务器重启时，能够存活
         exclusive ：是否为当前连接的专用队列，在连接断开后，会自动删除该队列
         autodelete：当没有任何消费者使用时，自动删除该队列
    -->
    <!-- 对外接口保存日志队列 -->
    <rabbit:queue id="save_out_log" durable="true" auto-delete="false"
                  exclusive="false" name="save_out_log"/>


    <!-- exchange queue binging key 绑定 -->
    <rabbit:direct-exchange name="mq-exchange"
                            durable="true" auto-delete="false" id="mq-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="save_out_log" key="save_out_log_key"/>

        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--
        spring amqp默认的是jackson 的一个插件,目的将生产者生产的数据转换为json存入消息队列.
        由于fastjson的速度快于jackson,这里替换为fastjson的一个实现
    -->
    <bean id="jsonMessageConverter" class="cn.hurrican.rabbitmq.project.utils.FastJsonMessageConverter">

    </bean>

    <!-- spring template声明 -->
    <rabbit:template exchange="my-mq-exchange" id="amqpTemplate"
                     connection-factory="connectionFactory"
                     message-converter="jsonMessageConverter"/>

    <!-- 监听器 -->
    <bean id="saveOutLogListener" class="cn.hurrican.rabbitmq.project.service.SaveOutLogListener">

    </bean>


    <!--  
        监听对外接口保存日志队列
        acknowledge="manual" 设置确认消息为手动模式
    -->
    <rabbit:listener-container
            connection-factory="connectionFactory" acknowledge="manual" transaction-size="5">
        <rabbit:listener queues="save_out_log" ref="saveOutLogListener"/>
    </rabbit:listener-container>
</beans>